<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <style>
    
  </style>
</head>
<body>
  <mat-toolbar color="primary" id="header">
    <span>Blood Bank</span>
    <span class="fill-remaining-space"></span>
    <form-component (onFormSubmit)="initBottleCount($event)" />
  </mat-toolbar>
    <mat-grid-list cols="4" rowHeight="3:1" gutterSize="20">
      <mat-grid-tile  *ngFor="let bg of bloodGroups" class="red-bg">
        <mat-card class ="blood-group-box text-center" [ngClass]="isDonor(bg) ? 'highlight-donor' : ''">
          <mat-card-content>{{ bg }}</mat-card-content>
        </mat-card>
        <mat-card class="blood-group-bottle-count-box text-center">
          <mat-card-content>{{ bloodBank[bg].avlBottle }}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> 

  <h4>Requirement Form</h4>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Select Blood Group</mat-label>
        <mat-select [formControl]="recBloodGroup">
          <mat-option *ngFor="let bg of bloodGroups" [value]="bg">
            {{bg}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  <mat-grid-tile class="red-bg">
    <mat-card>
      <!-- <mat-card-content>Number of bottles</mat-card-content> -->
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list> 
</body>
</html>